<div class="like-content">

                       <span>
    Avez-vous aimé cet actualite? j'aime pour le rendre plus facile à voir
                       </span></div>


<input type="submit" class="btn btn-md btn-color" value="Like" height="70" width="120">
